<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dhruva.iiser">

    <uses-sdk tools:overrideLibrary="androidx.security" />

    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="IISER-M"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">
        <receiver
            android:name=".Widget_Emergency"
            android:label="Emergency Shortcut">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_emergency_info" />
        </receiver>
        <receiver
            android:name=".Widget_UPI"
            android:label="UPI Shortcut">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_upi_info" />
        </receiver>

        <activity
            android:name=".formDownloadActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".UPIActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".EmergencyActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".InfoActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/NoStatusBar" />
        <activity
            android:name=".webwiewActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/myAppCompatFullscreen" />
    </application>

</manifest>